*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*------- Header part styles ------*/
.header{
    background: rgba(255, 144, 14, 0.1);
}
.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
nav li{
    list-style: none;
    margin-left: 50px;
    margin-top: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
.banner-title{
    color: #131313;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    margin-top: 100px;
    padding: 0px 350px;
}
.banner-discription{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 20px 280px;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 8px;
    border: 0px;
    width: 180px;
    height: 64px;
    align-items: center;
    margin: 0px 500px 50px 600px;
}
.banner img{
    width: 1000px;
    margin: 0px 30px 50px 180px;
    border-radius: 8px;
}

/*-------- Quick list of Our Features section styles -----*/


.first-section{
    display: flex;
    align-items: center;
    gap: 50px;
    flex: 1;
    margin: 50px 200px;
}
.image-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.quick-section-title{
    font-weight: 500;
    font-size: 45px;
}
.quick-list{
    color: #727272;
}
.feature{
    color: #FF900E;
}
.section-para{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0px;
}
.second-btn{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 8px;
    border: 0px;
    width: 180px;
    height: 64px; 
}

/*------- Some Facts section Styles -------*/


.Some-Facts-Section{
    margin: 150px 0px;
}

.facts-section{
    margin: 20px 700px 20px 150px;
}
.facts-section-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.facts-section-para{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0px;
}
.box-section{
    display: flex;
    margin: 50px 150px 50px 200px;
    gap: 50px;
}
.box{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 250px;
    height: 200px;
    padding: 50px 20px 0px 20px;
}
.box-img{
    padding-left: 60px;
}
.box-item{
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    margin: 10px 0px;
}
.box-para{
    color: #727272;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}



/*------- Sponspores styles --------*/

.Sponspors-title{
    color: #131313;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}
.Sponspors-discription{
    color: #727272;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 20px 400px;
}
.sponsors-img img{
    margin-right: 40px;
}
.sponsors-img{
    margin: 50px 70px 50px 170px;
}


/*------ Extra section added styles ------*/

.contact-section{
    background-color: #f8eee8;
    margin: 130px 140px;
    padding: 80px 100px;
    border-radius: 8px;
}
.contact{
    display: flex;
    align-items: center;
    gap: 70px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.contact-item{
    padding-right: 70px;
}
.contact-title{
    color: rgb(37, 37, 116);
    font-size: 30px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 25px;
    border: 0px;
    width: 100%;
    padding: 18px 30px;
    border-radius: 10px;
}
.submit-btn{
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f0942a;
    color: white;
    font-size: 20px;
}



/*------ Footer section styles ------*/
.footer-part{
    background: #FFF4E7;
    border-radius: 8px;
    margin: 50px 150px;
    padding: 30px 0px;
}
.footer-part p{
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
